*{
    margin: 0;
    padding: 0;
}


/* 
.div1 {
    background-color: #f4f4f4;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 30px;
    padding: 50px;
    } */

.div1{
    background-color: #f4f4f4;
    /* gap: 10px; */
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: baseline;
    
}
.aller{
    background-color:aquamarine;
    gap: 10px;
    padding: 20px;
    
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: baseline;

}
.retour{
    background-color: bisque;
    gap: 10px;
    padding: 20px;
    
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: baseline;
}

input{
    font: inherit;
    outline: 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
}


select{
    border: 1px solid #727272;
	border-radius: 3px;
    padding: 5px;
}



.observation-formation{
    background-color: cornflowerblue;
    gap: 10px;
    padding: 20px;
    
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: baseline;
}

.btn-formation {
    background-color: #007bff; /* Couleur de fond pour les boutons */
    color: #ffffff; /* Couleur du texte pour les boutons */
    padding: 10px 20px; /* Espacement interne des boutons */
    border: none; /* Suppression de la bordure */
    border-radius: 5px; /* Arrondir les coins des boutons */
    cursor: pointer; /* Curseur de la souris en forme de main au survol */
    margin-right: 10px; /* Espacement à droite entre les boutons */
}

.buttons-formation{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}