
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}
body{
    background-color: antiquewhite;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}
.box{
    width: 450px;
    height: 480px;
    background: #fff;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding: 40px;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1),
                -2px 0px 15px 2px rgba(0, 0, 0, 0.1);
    z-index: 10;
}
.wrapper{
    position: absolute;
    width: 455px;
    height: 485px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.53);
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1),
                -2px 0px 15px 2px rgba(0, 0, 0, 0.1);
    transform: rotate(4deg);
}
.header header{
    display: flex;
    justify-content: right;
}
header img{
    width: 120px;
}
.input-box{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    position: relative;
}
i{
    font-size: 22px;
    position: absolute;
    top: 34px;
    right: 12px;
    color: #595b5e;
}
input{
    height: 40px;
    border: 2px solid rgb(153, 157, 158);
    border-radius: 7px;
    margin: 5px 0;
    outline: none;
}
.input-field{
    font-weight: 500;
    padding: 0 10px;
    font-size: 17px;
    color:#333;
    background: transparent;
    transition: all .3s ease-in-out;
}
.input-field:focus{
    border: 2px solid  rgb(253, 209, 173);
} 
.input-field:focus ~ i{
    color: rgb(253, 209, 173);
}
.showpass label,input{
    display: inline-block;
    vertical-align: middle;
    /* cursor: pointer; */
}

.input-submit{
    margin-top: 0px;
    background:#fff;
    border: 2px solid;
    color: #ff7300;
    transition: all .3s ease-in-out;
}
.input-submit:hover{
        background: #f0b285;
        cursor: pointer;
}
/* .commentlogin{
    display: flex;
} */

.divpwd{
    margin-bottom: -13px;
}

.checkpwd{
    margin-top: 20px;
    margin-bottom: 0;
}

.error-message{
    position: fixed; 
    margin-top: 350px;
    margin-left: 35.5%;
    width: 300px; 
    height: 30px; 
    font-weight: bold;
    /* border-radius: 20px; */
    /* background-color: rgb(255, 205, 205);  */
    color: rgb(255, 0, 0); 
    display: flex; 
    text-decoration: solid;
    justify-content: left; 
    align-items: center; 
    z-index: 9999; 
}


 /* Mobile Styles (up to 600px) */
@media screen and (max-width: 600px) {
    .box {
        padding: 4%;
    }
    /* .input-submit {
        margin-top: 30px;
    } */
    i {
        font-size: 20px;
    }
    
}

/* Tablet Styles (601px to 1024px) */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .box {
        padding: 5%;
    }
    header img {
        max-width: 110px;
    }
    

}

