@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
}
form{
    display: flex;
    flex-direction: column;

}
.header-text, .table-header{
    margin-top: 50px;
    text-align: center;
    font-size:25px;
    /* color:#222831; */
    color: black;
    
}
#table-formation, #table-etranger {
    width: 100%;
    display: flex;
    justify-content: center;
    /* font-family: 'Roboto', sans-serif; */
}
.container-kr{
    /* display: block; */
    /* justify-content: center; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    /* align-content: baseline; */
    min-height: 100vh;
    position: relative;
    width: 1000px;
    border-radius: 30px;
    /* background: #FAF8F8; */
    background: #eeeeee;
    padding: 40px;
    margin-top: 40px;
    margin-left: 80px;
    box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.1),
    -2px 0px 15px 2px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);

}
/* .fixed-form-head , .secondformdiv, .aller, .retour, .observation-travail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    text-align:left;

} */
/* .container-kr label{
    display: block;
    margin: 10px;
} */
.container-kr input, select{
    flex-direction: column;
    margin: 0;
    padding: 4px;
    position: relative;
    width: 400px; 
    font-size: 15px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    outline: none; 
    height: 30px;
}

.boutons-kr{
   display: flex;
   justify-content: center;
   gap: 50px;
   align-items: center;
   padding-bottom: 50px;
   margin-top: 30px;
   margin-right: 150px;
}

.boutons-kr button{
    padding: 10px 20px; 
    background-color: #393e46; 
    color: #fff; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
}
.boutons-kr button:hover{
    background-color: rgb(179, 87, 0);
}